<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- launching robot -->
    <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
    <!-- big_map_summer_school -->
        <arg name="world" value="singlePillar"/>
        <arg name="laser_enabled" value="true"/>   
        <arg name="laser_scan_min_height" value="-0.2"/>
        <arg name="laser_scan_max_height" value="1.0"/>
    </include>

    <node name="my_scan_listener" pkg="smb_highlevel_controller" type="scan_listener_wrapper" output="screen" >
        <rosparam command="load"
            file="$(find smb_highlevel_controller)/config/smb_config.yaml" />
    </node>
</launch>
